<div class="players-box col-xs-12 col-sm-6 pull-left text-right">  
  <h1><%= @player.name %></h1>
  <h3>Residence: <%= @player.residence %></h3>
  <h3>Height: <%= @player.height %></h3>
  <h3>Weight: <%= @player.weight %></h3>
  <h3>Plays: <%= @player.plays %></h3>
  <h3>Status: <%= @player.status %></h3>
  <br />
  <%= link_to 'Edit player profile', edit_player_path, class: 'btn btn-primary' %>
  <br /><br />
</div>

<div class="clear"></div>
<br /><br /><br />

<h1>User Ratings</h1>

<div class="clear"></div>

<h1>Photos</h1>

