<div class="players-box col-xs-12 col-sm-6 pull-right">  
  <h1><%= @player.name %></h1>
  <h3>Residence: <%= @player.residence %></h3>
  <h3>Height: <%= @player.height %></h3>
  <h3>Weight: <%= @player.weight %></h3>
  <h3>Plays: <%= @player.plays %></h3>
  <h3>Status: <%= @player.status %></h3>
</div>